.navigation{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  z-index: 1000;
  position: relative;
}

.navigation li {
  list-style: none;
  padding: 16px;
}

.navigation li a{
  color: #FF3F3F;
  text-decoration: none;
}


@media screen and (max-width: 800px) {
  .navigation{

    display:none;
  }
  }
